@charset "utf-8";
* { outline:none; }
body,
.main,
.clr,
.header,
.content,
.prefooter,
.footer,
form,
ol,
ol li,
ul { margin:0; padding:0; }
ol,
ul,
li { list-style:none; }
body { width:100%;}
body,input,textarea {font:normal 12px/1.8em "Liberation sans", Arial, Helvetica, sans-serif; color:#b0b0b0; }
img { border:none; }
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0; line-height:0; }
.fl { float:left; }
.fl-img { float:left; padding:20px; }
.fr { float:right; }
.tal { text-align:left; }
.tar { text-align:right; }
.tac { text-align:center; }
hr { border:1px solid #c8c8c8; margin:30px 0; }
.title { display: none !important; }

.separator { clear:both; margin:20px auto; padding:0px 0 0px 0; width:100%; height:5px; background:url(../images/sep.png) repeat-x top left; }
.separator.small { margin:10px auto 10px;}
.separator_clear { clear:both; margin:20px auto; padding:0; width:100%; height:2px; }
.separator_clear.small { margin:10px auto;}
.hero-unit a, #portfolio ul li a { color: #E05D1F !important; }


/*MAIN BACKGROUNDS*/
.body_pattern { background:#f6f7f8 url(../images/bg_p2_10.png) repeat top left;}

.main { margin:0 auto; padding:0; width:100%; position:relative; }
#page { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4); overflow: hidden; position: relative; width: 100%; }
a { color:#87b01a; font-weight:normal; text-decoration:none; }
p {
	margin: 0;
	padding: 0 0 10px;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: bolder;
	font-size: 24px;
	line-height: 1em;
	color: #FFF;
	text-transform: none;
	text-align: center;
}
h1 a { color:#C33; text-decoration:none; }
h1 span {
	color: #FFFFFF;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 1em;
	text-transform: none;
	display: block;
	margin-top: 10px;
	padding: 0;
	background: none;
}
h1 a:hover { text-decoration:none; }
/*post_titles*/
h2 { width:auto; margin:0px 0 0px 0; padding:0 0 0 0; font-size:14px; line-height:1em; font-weight:bold; color:#717171; text-align:left; text-transform:none; background:none;}
h2 a, h2 span,h2 a span { color:#636363; background:none; }

.h2_background {position:relative;}
.h2_background h2 {background:url(../images/h2_bg.png) repeat-x  left; width:100%; margin:30px 0; padding:0;}
.h2_background h2 span{ padding:10px 20px 10px 0; background:#fff; }

.h2_arrows { background:#fff; padding: 0 0 0px 15px; position:absolute; right:0; top:-1px;}
.h2_arrows a.arr_href {}
.h2_arrows a.arr_href img.arr_l {background:url(../images/arr_l.png) no-repeat;}
.h2_arrows a.arr_href:hover img.arr_l {background:url(../images/arr_l_a.png) no-repeat;}
.h2_arrows a.arr_href img.arr_r { background:url(../images/arr_r.png) no-repeat;}
.h2_arrows a.arr_href:hover img.arr_r { background:url(../images/arr_r_a.png) no-repeat;}



/*images titles etc,...*/
h3 {  font-size:14px; font-weight:normal; color:#717171; text-transform:none; line-height:1em; padding:5px 0 5px;margin:10px 0 10px; }
h3 span { color:#a9a9a9; text-decoration:none; font-weight:normal; font-style:normal; margin:0; padding:0; font-size:11px; display:block; text-transform:none; padding:5px 0 0px; }
h3 a { color:#717171; text-decoration:none; font-weight:normal; }
h3 a:hover { text-decoration:none; color:#87b01a; }
h3 span a:hover { text-decoration:none; color:#87b01a; }



/*h3.h3_act_href*/
h3.h3_act_href { clear:both; width:100%; text-align:left; display:block; background:none; padding-left:0; height:15px; }
h3.h3_act_href a span,
h3.h3_act_href a{ color:#717171; text-decoration:none; font-weight:bold;  }
h3.h3_act_href a:hover span,
h3.h3_act_href a:hover em,
h3.h3_act_href a:hover{color:#87b01a; text-decoration:none;  }
h3.h3_act_href a.h3_href em {font-style:normal;}

h3.h3_act_href a.h3_href {padding:8px 0 12px 40px;}

h3.h3_act_href a.ico_1{background:url(../images/ico.png) no-repeat left top;}
h3.h3_act_href a.ico_2{background:url(../images/ico-02.png) no-repeat left top;}
h3.h3_act_href a.ico_3{background:url(../images/ico-03.png) no-repeat left top;}
h3.h3_act_href a.ico_4{background:url(../images/ico-04.png) no-repeat left top;}
h3.h3_act_href a.ico_1:hover{background:url(../images/ico_a.png) no-repeat left top;}
h3.h3_act_href a.ico_2:hover{background:url(../images/ico_a-02.png) no-repeat left top;}
h3.h3_act_href a.ico_3:hover{background:url(../images/ico_a-03.png) no-repeat left top;}
h3.h3_act_href a.ico_4:hover{background:url(../images/ico_a-04.png) no-repeat left top;}


/* header */
.header { margin:0 auto; padding:0; width:100%; position:relative; background:url(../images/header_bg_bottom.png) repeat-x bottom left; padding-bottom:5px;  }
.header_pic_bg {background:url(../images/header_pic.jpg) no-repeat top center; background-size: cover;}
.header_bg { margin:0 auto; padding:0; width:100%; height:109px;background:#f0f0f0 url(../images/header_bg.png) repeat-x top left;}
.header_resize { margin:0 auto; padding:0; min-height:109px;}

.logo { margin:0; padding:40px 0 30px; font-size:24px;  line-height:1em; float:left;}
.logo div { margin:0 auto; padding:0 0 0; font-weight:normal;  text-transform:uppercase; font-weight:normal;  float:left; }
.logo div a,
.logo div span,
.logo div a:hover { color:#87b01a; text-decoration:none; font-weight:normal;  text-align:left;   }
.logo div span em.logo_2_color { color:#fff; font-style:normal;}
.logo p { padding:24px 0 1px 15px; margin:0; font-size:11px; line-height:1em;  color:#777777; font-weight:bold; font-style:normal; text-transform:uppercase;text-align:left; float:left;}
#slider-wrapper object { width: 100%; }



/*now_page*/
.now_page { margin:0px auto 0px; padding:40px 0 00px; position: relative; z-index: 1;}
.now_page_resize { margin:0 auto; padding:0 0 80px 0; text-align:left;  }
.index_page .now_page_resize {}
.index_page .now_page { background:#066; }

/*slider*/
#now_slider { margin:0 auto 0px; position: relative; z-index: 5; padding:30px 0 0px; /*padding:6px; background:#343434; border:1px solid #525252;*/}
#slider-wrapper {}
#slider { /*width:886px; */padding:0; margin:00px auto 0px; }
#slider h1 { font: bold italic 30px "Liberation Sans", Arial, Helvetica, sans-serif; color:#fff; padding:0; margin:0; }
#slider .flash_slider { width:100%; height:470px; margin:0px auto 0; overflow:hidden; }
#slider-wrapper #piecemaker, .bannerholder {  margin-top:0px;}






/* social */
.social { margin:10px 0 10px; padding:0px 0 3px 0px; float:none;  }
.social_text { padding:3px 6px 0px 0px; color:#5a5a5a; font-size:18px;text-align:center; width:130px; font-weight:normal; font-style:normal; display:none; }
.social1 { background:url(../images/social.png); }
.social2 { background:url(../images/social-02.png); }
.social3 { background:url(../images/social-03.png); }
.social4 { background:url(../images/social-04.png); }
.social5 { background:url(../images/social-05.png); }
.social6 { background:url(../images/social-06.png); }
.social7 { background:url(../images/social-07.png); }
.social8 { background:url(../images/social-08.png); }
.social9 { background:url(../images/social-09.png); }
.social10{ background:url(../images/social-10.png); }
.social11{ background:url(../images/social-11.png); }
.social1:hover { background:url(../images/social_a.png); }
.social2:hover { background:url(../images/social_a-02.png); }
.social3:hover { background:url(../images/social_a-03.png); }
.social4:hover { background:url(../images/social_a-04.png); }
.social5:hover { background:url(../images/social_a-05.png); }
.social6:hover { background:url(../images/social_a-06.png); }
.social7:hover { background:url(../images/social_a-07.png); }
.social8:hover { background:url(../images/social_a-08.png); }
.social9:hover { background:url(../images/social_a-09.png); }
.social10:hover{ background:url(../images/social_a-10.png); }
.social11:hover{ background:url(../images/social_a-11.png); }

.p404 h2{ font-size:50px; color:#87b01a;  text-align:center; margin:40px auto 0; line-height:1.2em;  background:none;}
.p404 h2 span{ font-size:36px;  color:#7D7D7D; text-align:center; margin:10px auto 0; line-height:1.2em; }
.p404 p,.p404 a{ font-size:24px; color:#B4B4B4; text-align:center; padding:80px 0 60px; line-height:1.2em; }
.p404 p span { font-size:24px; display:block; text-align:center; margin:20px auto; line-height:1.2em; }
.p404 h2,
.p404 .btn { margin-bottom:0; }
.p404 .content_box { margin-bottom:40px; }
/* Slider */

/* content */
.content { margin:-40px 0 0px 0; padding:0px 0px; width:100%; }
.content_resize { margin:0px auto 0; background:#fff; padding:30px 10px; position:relative; z-index:21; }

.h2_href_fr a span{color:#fff; font-size:10px; font-weight:normal; padding:3px 8px; background:#272727; text-transform:uppercase;}
.h2_href_fr a:hover span{background:#f04e38;}

.img_hover_box.pic a { display: block; position: relative; }
.img_hover_box.pic a img { margin:0;}
.img_hover_box.pic a img.h { position: absolute; top: 0; left: 0; visibility:hidden; background:none; border:none; }
.img_hover_box.pic a:hover img.h { visibility:visible; }




.backgr { background:#0b0b0b;}
.backgr:hover {background:#87b01a;}
.backgr h3 {padding:10px 15px; font-size:14px;}
.backgr h3 a span{ color:#999999; font-size:14px; font-style:normal;}
.backgr:hover h3 a span,.backgr:hover h3 a:hover span,.backgr:hover p{ color:#2d2d2d; }

/*4cols*/
.cols4 { margin:0 auto; width:100%; padding:0; text-align:left; }
.viewport .col4 { width:220px; margin:0 20px 0 0; float:left; padding:0;  }
.viewport .col4.last { float:right; margin-right:0; }
.col4 img { max-width: 100%; height: auto; }
.cols4.bg {background:url(../images/cols4_bg.png) repeat-y top left; padding:10px 0;}


/*3cols*/
.cols3 { margin:0px auto 0; width:100%; padding:0; text-align:left; }
.viewport .col3 { width:290px; margin:0 35px 0 0; float:left; padding:0;  }
.col3 p { margin:0; padding:0; }
.col3 img { max-width: 100%; height: auto; }
.viewport .col3.last { float:right; margin-right:0; }




/*2cols*/
.cols2 { margin:0px auto 0; width:100%; padding:0; text-align:left; }
.col2 {  padding:0; }
.col2.big { width:45.8%; float: left; }
.col2.big.last { float: right; }


/*1cols*/
.cols1 { margin:0px auto 0; width:100%; padding:0; text-align:left; }
.col1 { width:100%; margin:0 0 0 0; padding:0; }
.col1.last { float:right; margin-right:0; padding:0; }



.cols_bg {padding-bottom:15px; border-bottom:2px solid #f0f0f0;}
.cols_bg:hover { border-bottom:2px solid #f67e40;}

.cols_bg_post .post_detail a {  background:#efefef;  padding:10px; display:block; }
.cols_bg_post .post_detail a em {color:#8e8e8e; font-weight:normal;}
.cols_bg_post:hover .post_detail a { background:#87b01a;}
.cols_bg_post:hover .post_detail a em {color:#fff;}

h3 a.h3_detail span{ text-transform:none; font-size:14px; color:#767676;}



.content_box { padding:0; margin-bottom:30px; width:900px; }
.content_box.padding {  }

.content_full_size { width:100%; }
/*centercol*/
.centercol { padding:0; }

/*sidebar*/
.sidebar { }

/*.sidebar h2 { margin-top:0; padding-top:0;  }*/
.sidebar_flickr,
.sidebar_text,
.sidebar_twit,
.sidebar_recent { margin:0px 0px 25px 0px; }
.sidebar_text { }
.sidebar_twit p { padding:0 0 10px 30px ; background:url(../images/twitter_li.png) no-repeat top left; }
.sidebar_twit a { display:block;  color:#a4a4a4; font-size:11px; font-style:italic; }
.sidebar_recent img {float:left; margin:0 10px 10px 0; padding:2px; background:#fff; border:1px solid #d4d4d4; }
.sidebar_recent a:hover img { border:1px solid #000; }
.sidebar_recent p { padding:0px 0 10px; }
.sidebar_recent a { display:block; font-style:normal; text-decoration:none; text-decoration:none; }
.sidebar_recent span { display:block; color:#989898; font-style:normal; font-size:11px;  }

.recent_post { clear:both; padding:10px 0;}

.menu .tinynav { display: none; }

/*columns*/
.columns1 { margin:00px auto 0px; padding:0; width:100%; }
.users_list { margin:0 auto; }
.users_list img { float:left; margin:5px auto; }
.users_list p,
.users_list h3 { float:right; width:80%; margin:5px 0 5px; padding:0; }

a.more { color:#8b8b8e; font-weight: normal; text-decoration: none; }
/*sub_page_about*/
.about_span { padding:0 0 0 40px; background:url(../images/qoute.png) no-repeat top left; }
/*sub_page_portfolio*/
.sub_page_portfolio h3 { margin:5px 0 10px; padding:0; color:#656566; font-size:13px; font-weight:bold; text-transform:none; margin-top:10px; }
.sub_page_portfolio h3 a { color:#656566; text-decoration:none; font-weight:bold; }
.sub_page_portfolio h3 a:hover { color:#d67732; text-decoration:none; font-weight:bold; }
/*4cols*/
.col_boxes_4 { margin:20px auto 20px; width:100%; padding:0; text-align:left; }
.col_box_4 { width:229px; margin:0 31px 0 0; float:left; padding:0; }
.col_box_4.first { width:200px; }
.col_box_4.last { float:right; margin-right:0; }
.col_box_4 h2 { margin-bottom:0; padding:0; }
.users { margin:20px 0 0; }
.users h3 { margin:10px 0 0; padding:0; font-size:12px; font-weight:bold; color:#313131; }
.users_img { float:left; margin:10px 0 0; padding:3px 4px 15px; background:url(../images/user_bg.png) no-repeat top left; }
.user_descr { float:right; width:396px; padding:0; line-height:20px; }
/*sub_page_blog*/
.post h3 { padding-top:15px; padding-bottom:0; margin-bottom:0; font-size:16px; font-weight:normal; color:#414141; }
.post h3 a,
.post h3 a:hover {  }

.post h2 {margin-bottom:0; }
.post h2 a{ font-weight:bold;}

.post .pic { margin:0 0 20px; }
.post_detail { color:#a4a4a4; font-style:normal; padding:0; font-size:11px; font-weight:normal; margin:5px 0 5px 0; }
.post_detail a { font-size:11px; color:#a4a4a4; font-weight:bold; font-style:normal; text-decoration:none; }
.post_detail a:hover { font-size:11px; color:#a4a4a4; text-decoration:none; }
.post_date {  color:#fff; font-style:normal; font-weight:normal; font-size:18px; float:left; text-align:center; padding:8px 15px; background:#87b01a; border-top:3px solid #353535; margin:0 20px 20px 0; display:none;}
.post_date span { color:#fff; font-style:normal; font-weight:normal; font-size:12px; display:block; margin-top:5px; padding:5px 3px 0; text-align:center; border-top:1px solid #fff; }


.post_detail a.read_more:hover { color:#87b01a; font-style:normal; font-weight:normal; }
/*pagination*/
.pagination { margin:0; float:none; padding:10px 10px 00px 0; width:100%; text-align:left; font-weight:normal; }
.pagination a { padding:5px 8px; color:#939393; font-weight:normal; text-decoration:none; background:none; border:transparent; }
.pagination a:hover { padding:5px 8px; text-decoration:none; background:#222222; color:#939393; border:transparent; }
.pagination span.current_page { padding:5px 8px; color:#fff; background:#87b01a; border:transparent; }
.pagination span.count_pages { margin-left:11px; padding:5px 8px 5px 8px; background:#222222; color:#939393; border:transparent; }
/*navigation*/
.navigation { margin:0 auto 20px; padding:8px 0 10px 0; width:900px; }
.navigation a { padding:2px 4px; color:#656563; font-size:11px; text-decoration:none; font-weight:normal; }
.navigation a:hover { color:#656566; }
.navigation span.current { color:#656566; padding:0; font-size:11px; }
.navigation span.text { color:#c3c3c3; padding:0; font-size:12px; }
/*sub_page_contact*/

/*form Contact_us*/
#contactform_main { margin:0; padding:5px 0; }
#contactform_main * { color:#8b8b8e; }
#contactform_main ol { margin:0; padding:0; list-style:none; }
#contactform_main li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform_main li.buttons { margin:5px 0 5px 0; clear:both; }
#contactform_main label { margin:0; width:60px; padding:6px 0; text-transform:none; float:left; font-weight:normal; color:#8b8b8b; }
#contactform_main label .ness { color:#656566; }
#contactform_main label span { color:#8b8b8b; }
#contactform_main input.text { width:60%; border:1px solid #d3d3d3; margin:5px 0; padding:5px 2px; height:16px; background:#ffffff; float:left; font-size:12px; color:#8b8b8e; }
#contactform_main textarea { width:70%; border:1px solid #d3d3d3; margin:4px 0; padding:5px 2px; background:#ffffff; float:left; font-size:12px; color:#8b8b8e; }
#contactform_main li.buttons input { padding:2px 10px 4px 10px; margin:10px 0 0 10%; cursor: pointer; border:0; color:#FFF; float:left; background:#87b01a; font-size:14px; font-weight:bold; }
#gallery #coment2 a { display: inline !important; }
#gallery #coment3 a { display: inline !important; }
#gallery #coment a { display: inline !important; }
.maps_view { height: 350px; }
.one-third.column.gap21 { display: none; }


/* prefooter */
.prefooter { margin:0 auto;  width:100%; padding:40px 0 0; background:#323232; position:relative; z-index:10; margin-top:-40px;}
.prefooter_resize { margin:0 auto; padding:40px 10px 0;    }

.prefooter .fcol { margin:0 0px 0 0; padding:0; }
.prefooter .fcol p { color:#a9a9a9; }
/*.prefooter .fcol a { color:#87b01a;}*/
.prefooter .fcol.pop_posts p { padding:0 0 20px 0px ;}
.prefooter .fcol.pop_posts h3 { padding:0px 0 0px 0px ;}
.prefooter .fcol.pop_posts h3 span{padding-bottom: 0px ;}
/*.prefooter .fcol.twit a { font-style:italic; font-size:11px; font-weight:normal; display:block; margin:0; padding:0; }
.prefooter .fcol.twit p span {  font-size:11px; display:block; margin:0 0 5px 0; padding:0; }
.prefooter .fcol.pop_posts img { float:left; margin:5px 20px 0 0; }*/

/*.prefooter .fcol.client_says p {font-style:italic; padding:0 0 10px 0;}
.prefooter .fcol.pop_posts a span,
.prefooter .fcol.client_says a span{font-style:normal;  font-size:11px; font-weight:normal; display:block; margin:0; padding:0;}
*/
.prefooter h2 { margin:0px 0 30px; background:none;  }
.prefooter h2 span { background:none;  }
.prefooter h2 span em.dark {color:#ffffff; font-size:14px; font-style:normal; font-weight:bold;}

.prefooter #contactform { margin:0; padding:0px 0; }
.prefooter #contactform * {  }
.prefooter #contactform ol { margin:0; padding:0; list-style:none; }
.prefooter #contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
.prefooter #contactform li.buttons { margin:5px 0 5px 0; clear:both; }

.prefooter #contactform input.text { width:186px; margin:0 0 5px 0; padding:5px 2px; height:15px; background:#ffffff; float:left; font-size:12px; color:#868686; }
.prefooter #contactform textarea { width:186px; margin:0 0 4px 0; padding:3px 2px; background:#ffffff; float:left; font-size:12px; color:#868686; }
.prefooter #contactform li.buttons input { padding:0 0 3px 0; margin:5px 0 0 0px; border:0; color:#FFF; float:left; }


.flickr img { margin:2px 4px 0 0; /*padding:3px; background:#343434; border:1px solid #525252;*/}
.flickr a:hover img { /*background:#525252;*/ }

.prefooter .pic a img {padding:3px; background:#3c3c3c;}
.prefooter .pic a:hover img { background:#202020;}

/* footer */
.footer {width:100%; margin:0 auto; padding:00px 0px ; height:75px; background:#2b2b2b; }
.footer_resize { margin:0 auto; padding:20px 0 0 ; }
.footer a { color:#595858; }
.footer p { text-align:center; padding-top:5px; color:#595858; }

/*coments*/
#coment { overflow:hidden; margin:10px 0; padding-bottom:10px; }
#coment img { float:left; margin-right:20px; }
#coment h3 { margin:0; padding:0; }
#coment .podpis { float:left; margin:5px 0; width:80%; }
#coment .podpis a { margin-left:10px; }
#coment2 { overflow:hidden; margin:10px 0 00px 50px;  padding-bottom:10px; }
#coment2 img { float:left; margin-right:20px; }
#coment2 h3 { margin:0; padding:0; }
#coment2 .podpis { float:left; margin:5px 0; width:75%; }
#coment2 .podpis a { margin-left:10px; }
#coment3 { overflow:hidden; margin:10px 0 00px 100px;  padding-bottom:10px; }
#coment3 img { float:left; margin-right:20px; }
#coment3 h3 { margin:0; padding:0; }
#coment3 .podpis { float:left; margin:5px 0; width:70%; }
#coment3 .podpis a { margin-left:10px; }
#coment3 .lin { border-top:1px solid #c8c8c8; margin-top:20px; }


.pic img {/*padding:3px; background:#f4f4f4; border:1px solid #fff;*/}
.pic a:hover img { background:#fff;} 
.pic img.h {background:none;}
.pic img {margin-bottom:0px; max-width: 100%; height: auto;}
.pic a {margin-bottom:15px;}
.pic.fl { margin:5px 20px 10px 0; }
.pic.fr { margin:5px 0 20px 10px; }
/*
.btn { margin:2px 0 0;  padding:10px 0px 0; text-align:center; }
.btn a { font-size:14px; color:#87b01a; text-transform:uppercase; height:33px;  padding:10px 15px 10px; background:url(../images/btn_bg.png) repeat-x top center; border:1px solid #ececec; font-weight:bold; }
*/
.btn a span{color:#7d7d7d; font-size:12px; font-weight:bold; padding:5px 15px; background:#fcfcfc; text-transform:uppercase; border:1px solid #d7d7d7;}



/*img_hover_box_r_plus*/
.img_hover_box.pic a img.r_plus_overlay { position: absolute; top: 0; left: 0; visibility:hidden;  border:none; width:100%; height:100%; padding:0; }
.img_hover_box.pic a:hover img.r_plus_overlay { visibility:visible; background:url(../images/overlay.png) repeat;}
.img_hover_box.pic a img.r_plus { position: absolute; top: 50%; left: 50%; visibility:hidden; background:none; border:none; }
.img_hover_box.pic a:hover img.r_plus { visibility:visible; }



/* gallery-categ */
.gallery-categ { margin:0; padding:0;}
.gallery-categ li { padding:0; float:left; border-right:1px solid #CCC;}
.gallery-categ li:last-child { border-right:0;}
.gallery-categ li a { font-weight:bold; display:block; padding:5px 10px;}
.gallery-categ li.active a { text-decoration:underline;}

/*4cols_gallery*/
.col44 { width:215px; float:left; padding:0; margin-right:13px; position:relative; top:0px; margin-top:20px; padding-bottom:20px;}
.col44 h3 { position:relative; bottom:0px; margin-bottom:0px;}
.col44 a img { margin-top:0px;}
.col44.last { float:right; margin:0; margin-right:0px;}
.col44.invisible-box { display: none; opacity: 0;  z-index: 1;}

/*detail a*/
p.detail {padding-top:10px;}
.detail a,a.detail {color:#717171; font-size:12px; text-align:left; font-weight:normal;}
.detail a:hover,a.detail:hover {color:#87b01a; text-decoration:none;}

/*note*/
.note {margin:0 auto; padding:0; clear:both;}
.note p { width:265px; float:right; font-style:italic; font-weight:normal; padding:5px 0 0 45px; background:url(../images/quote.png) no-repeat left top;}
.note .pic {margin-right:0;}
.note.small {width:600px; margin:0 auto; padding:0;}
.note.small p{width:530px;}

/* search */
.search { margin:30px 0 0 0; float:right; padding:00px 0 0 0; width:195px; height:32px; }
.search form { margin:0; padding:0; width:auto; }
.search span { display:block; margin:0; padding:0; float:left; background:url(../images/search_bg.png) no-repeat left top; }
.search input.editbox_search { margin:0; padding:6px 10px 6px; float:left; width:145px; height:22px; font-size:12px; line-height:16px; color:#a1a1a1; background:none; border:none; }
.search input.button_search { margin:0; padding:0; border:none; float:left; }





.one_third_pad img { max-width: 100%; height: auto; }
.one_half_pad img { max-width: 100%; height: auto; }
.two_third_pad img { max-width: 100%; height:auto; }
.dc_pricingtable03 li h2 { font-size:24px !important;}
.dc_pricingtable03 li h2, .dc_pricingtable03 li h1, .dc_pricingtable03 li h1 span, .dc_pricingtable03 li h3 { color:#fff !important;}
.dc_pricingtable03 li h2.caption { color:#999 !important; font-size:28px !important;}
.dc_pricingtable06 ul li h3 { font-size:28px !important; color:#fff !important; line-height:180% !important;}
.dc_pricingtable05 ul li h3 { font-size:28px !important; line-height:250% !important;}
div.dc_pricingtable03 .align_center h2 { text-align: center !important; }


/* */
.oneForth { margin:20px auto; float: left; width: 25%; }
.oneForth img { max-width: 100%; height: auto; }
.oneThird { margin: auto; width: 23%; }
.one_fourth_pad img { max-width: 100%; height: auto; }
/* */
.center_small_box > div:after { clear: both; display: block; }
.center_small_box > div {  position: relative; }
/* img h2 */
h2 img { max-width: 100%; height: auto; }
#slider-wrapper object { width: 100%; }
div.dc_pricingtable03 h1 { font-size: 42px !important; }
div.dc_pricingtable03 h1 span { display: inline !important; }

h1.gap1 {
    color: #555555 !important;
    font-size: 24px !important;
    font-weight: bold !important;
    padding: 20px 0 !important;
    text-align: left !important;
}


@media only screen and (max-width: 767px) {
#webstore-navigation li { float:none !important; margin: 5px 0 0 0 !important;}
#catalogue .last-column > div { margin:5px 0 0 0 !important;}
#catalogue .product { float:none !important; width: auto !important;}
#webstore { min-width: auto !important;}
	}
.m1 {
	position: absolute;
	left: 58px;
	top: 50px;
	width: 409px;
	height: 410px;
	text-align:justify;
	text-justify:inter-word;
}
.m2 {
	position: absolute;
	left: 469px;
	top: 49px;
	width: 477px;
	height: 495px;
	text-align: justify;
	text-justify: inter-word;
}
.m2 {
	position: absolute;
}
.enqu {
	position: absolute;
	left: 451px;
	top: 549px;
	width: 142px;
	height: 88px;
}
.search {
	position: absolute;
	height: 15px;
	width: 100px;
	left: 132px;
	top: -23px;
}
.search {
	position: absolute;
	height: 15px;
	width: 150px;
}
.search {
	position: absolute;
	height: 98px;
	width: 574px;
}
